// Variables
\:root
  --box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.20)
  --main-blue: #747bff
  --border-chat: 10px
  --border-radius: 20px
  --opacity-white: rgba(255, 255, 255, 0.8)
  --light-blue: #8f94fb

.btn-circle
  background: var(--main-blue)
  padding: 11px 15px
  border-radius: var(--border-radius)
  border: none
  outline: none
  width: 100%
  font-size: 18px
  color: white
  transition: .2s
  margin-top: 9px
  &:focus
    outline: none
  &:hover
    box-shadow: var(--box-shadow)
    transition: .2s
  &:disabled
    color: rgba(255, 255, 255, 0.50)
    background: #656ce4
    &:hover
      box-shadow: none

.block
  width: 50%
  z-index: 1
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 0 30px
  background: rgba(78, 84, 200, .7)
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.2)
  position: relative
  transition: .3s
  &.full-width
    width: 100%
    transition: .3s

h1
  color: white
  font-size: 32px
  margin-bottom: 10px

.form-input
  border-radius: var(--border-radius)
  font-size: 14px
  padding: 10px 15px
  border: none
  outline: none
  width: 100%
  &:focus
    border: none

path.link
  animation: 1s colorStroke infinite

@keyframes colorStroke
  0%
    fill: #a4a9ff
    stroke: #a4a9ff
  40%
    fill: #d6d0e8
    stroke: #d6d0e8
  60%
    fill: #d6d0e8
    stroke: #d6d0e8
  100%
    fill: #a4a9ff
    stroke: #a4a9ff
